#
# General
#

LLM_PROVIDER=openai

#
# Text / Reasoning Model
#

TEXT_MODEL=gpt-4.1

#
# Vision Model
#

VISION_MODEL=gpt-4.1

#
# Audio / Transcription Model
#

AUDIO_MODEL=gpt-4o-transcribe

#
# OpenAI
#

OPENAI_API_KEY=sk-proj

OPENAI_BASE_URL=https://api.openai.com/v1

#
# Future Providers
#

ANTHROPIC_API_KEY=

GOOGLE_API_KEY=

OLLAMA_URL=http://localhost:11434

OLLAMA_TEXT_MODEL=qwen3

OLLAMA_VISION_MODEL=qwen2.5vl
